<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>0B0044DC-6D82-4A64-BD1B-42E6D51321B1</string>
	<key>MSAppCenterNetworkRequestsAllowed</key>
	<false/>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBULDBIYHCJQUVJTVFVWV1hZ
	WltcYWZVJG51bGzSDQ4PEVpOUy5vYmplY3RzViRjbGFzc6EQgAKAFNMTFA4VFhdcdGlt
	ZXN0YW1wS2V5WWRldmljZUtleYADgAWAE9IZDhobV05TLnRpbWUjQcR9RoTMALCABNId
	Hh8gWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN03xAXIyQlJg4n
	KCkqKywtLi8wMTIzNDU2Nzg5Ojs8PTs8PEFCPDw8PEdISUo8PE1OT1lvc1ZlcnNpb25e
	dGltZVpvbmVPZmZzZXRYYXBwQnVpbGRfEBVsaXZlVXBkYXRlUGFja2FnZUhhc2haYXBw
	VmVyc2lvbl8QEXdyYXBwZXJTZGtWZXJzaW9uW2NhcnJpZXJOYW1lV3Nka05hbWVWbG9j
	YWxlXxAXbGl2ZVVwZGF0ZURlcGxveW1lbnRLZXleY2FycmllckNvdW50cnlab3NBcGlM
	ZXZlbF53cmFwcGVyU2RrTmFtZVdvZW1OYW1lWnNka1ZlcnNpb25cYXBwTmFtZXNwYWNl
	VW1vZGVsXxAVd3JhcHBlclJ1bnRpbWVWZXJzaW9uXxAWbGl2ZVVwZGF0ZVJlbGVhc2VM
	YWJlbFpzY3JlZW5TaXplVm9zTmFtZVdvc0J1aWxkgAuADoAQgACAEoAQgACAAIAGgA2A
	AIAAgACAAIAJgAeAEYAIgACAAIAPgAqADF8QD2FwcGNlbnRlci5tYWNvc1U0LjMuMF5N
	YWNCb29rUHJvMTYsMlVBcHBsZVVtYWNPU1YxMi41LjFVMjFHODNVZW5fR0IRApRYMTQ0
	MHg5MDBWNi40Ni4xXxAYY29tLmx3b3Vpcy5hbHQtdGFiLW1hY29z0h0eXV5aTVNBQ0Rl
	dmljZaNfYCFaTVNBQ0RldmljZV5NU0FDV3JhcHBlclNka9IdHmJjXxAVTVNBQ0Rldmlj
	ZUhpc3RvcnlJbmZvo2RlIV8QFU1TQUNEZXZpY2VIaXN0b3J5SW5mb18QD01TQUNIaXN0
	b3J5SW5mb9IdHmdoXk5TTXV0YWJsZUFycmF5o2dpIVdOU0FycmF5AAgAEQAaACQAKQAy
	ADcASQBMAFEAUwBrAHEAdgCBAIgAigCMAI4AlQCiAKwArgCwALIAtwC/AMgAygDPANoA
	4wDqAO0A9gEnATEBQAFJAWEBbAGAAYwBlAGbAbUBxAHPAd4B5gHxAf4CBAIcAjUCQAJH
	Ak8CUQJTAlUCVwJZAlsCXQJfAmECYwJlAmcCaQJrAm0CbwJxAnMCdQJ3AnkCewJ9Ao8C
	lQKkAqoCsAK3Ar0CwwLGAs8C1gLxAvYDAQMFAxADHwMkAzwDQANYA2oDbwN+A4IAAAAA
	AAACAQAAAAAAAABqAAAAAAAAAAAAAAAAAAADig==
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxH1GgstOqYAE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlZdXNlcklk
	S2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxH1Ggs4oeIAE0h0eHyBaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFU1TQUNVc2VySWRIaXN0b3J5
	SW5mb6MlJiFfEBVNU0FDVXNlcklkSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/S
	HR4oKV5OU011dGFibGVBcnJheaMoKiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABR
	AFMAWwBhAGYAcQB4AHoAfAB+AIUAkgCcAJ4AoACiAKcArwC4ALoAvwDKANMA2gDdAOYA
	6wEDAQcBHwExATYBRQFJAAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAVE=
	</data>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>753</real>
	<key>NSStatusItem Visible Item-0</key>
	<true/>
	<key>NSWindow Frame NSFontPanel</key>
	<string>946 94 445 232 0 0 1440 900 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>1080 978 400 135 0 0 2560 1440 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>370 204 700 628 0 0 1440 900 </string>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2022-10-09T03:57:32Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>3804272111</integer>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>alignThumbnails</key>
	<string>1</string>
	<key>appsToShow</key>
	<string>0</string>
	<key>appsToShow2</key>
	<string>1</string>
	<key>crashPolicy</key>
	<string>1</string>
	<key>cursorFollowFocusEnabled</key>
	<string>true</string>
	<key>fadeOutAnimation</key>
	<string>true</string>
	<key>hideAppBadges</key>
	<string>true</string>
	<key>hideColoredCircles</key>
	<string>true</string>
	<key>hideSpaceNumberLabels</key>
	<string>true</string>
	<key>hideStatusIcons</key>
	<string>true</string>
	<key>hideThumbnails</key>
	<string>false</string>
	<key>hideWindowlessApps</key>
	<string>true</string>
	<key>holdShortcut</key>
	<string>⌘</string>
	<key>holdShortcut2</key>
	<string>⌥</string>
	<key>iconSize</key>
	<string>43</string>
	<key>maxHeightOnScreen</key>
	<string>90</string>
	<key>maxWidthOnScreen</key>
	<string>90</string>
	<key>menubarIcon</key>
	<string>1</string>
	<key>mouseHoverEnabled</key>
	<string>true</string>
	<key>nextWindowShortcut</key>
	<string>⇥</string>
	<key>nextWindowShortcut2</key>
	<string>⇥</string>
	<key>preferencesVersion</key>
	<string>6.46.1</string>
	<key>screensToShow</key>
	<string>0</string>
	<key>shortcutStyle</key>
	<string>0</string>
	<key>showFullscreenWindows</key>
	<string>0</string>
	<key>showHiddenWindows</key>
	<string>1</string>
	<key>showMinimizedWindows</key>
	<string>0</string>
	<key>showOnScreen</key>
	<string>2</string>
	<key>showTabsAsWindows</key>
	<string>false</string>
	<key>spacesToShow</key>
	<string>0</string>
	<key>theme</key>
	<string>0</string>
	<key>titleTruncation</key>
	<string>1</string>
	<key>updatePolicy</key>
	<string>1</string>
	<key>windowDisplayDelay</key>
	<string>0</string>
	<key>windowMaxWidthInRow</key>
	<string>78</string>
	<key>windowMinWidthInRow</key>
	<string>10</string>
</dict>
</plist>
