<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavLastRootDirectory</key>
	<string>~/Desktop</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>667</real>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>320 339 800 448 0 0 1440 900 </string>
	<key>NSWindow Frame SUAutomaticUpdateAlert</key>
	<string>972 932 616 193 0 0 2560 1440 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>3019 955 400 135 2560 -480 1080 1920 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>970 781 620 398 0 0 2560 1440 </string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2022-07-18T11:04:30Z</date>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>allowAnyShortcut</key>
	<true/>
	<key>almostMaximize</key>
	<dict>
		<key>keyCode</key>
		<integer>126</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>almostMaximizeHeight</key>
	<real>0.99000000953674316</real>
	<key>almostMaximizeWidth</key>
	<real>0.99000000953674316</real>
	<key>altThirdCycle</key>
	<integer>0</integer>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>applyGapsToMaximize</key>
	<integer>2</integer>
	<key>applyGapsToMaximizeHeight</key>
	<integer>2</integer>
	<key>attemptMatchOnNextPrevDisplay</key>
	<integer>0</integer>
	<key>bottomHalf</key>
	<dict/>
	<key>bottomLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>33</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>bottomRight</key>
	<dict>
		<key>keyCode</key>
		<integer>30</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>center</key>
	<dict>
		<key>keyCode</key>
		<integer>36</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>centerHalf</key>
	<dict/>
	<key>centerHalfCycles</key>
	<integer>0</integer>
	<key>centerThird</key>
	<dict/>
	<key>centeredDirectionalMove</key>
	<integer>0</integer>
	<key>curtainChangeSize</key>
	<integer>0</integer>
	<key>firstThird</key>
	<dict/>
	<key>firstTwoThirds</key>
	<dict/>
	<key>footprintAlpha</key>
	<real>0.30000001192092896</real>
	<key>footprintBorderWidth</key>
	<real>2</real>
	<key>footprintFade</key>
	<integer>0</integer>
	<key>gapSize</key>
	<real>20</real>
	<key>hideMenubarIcon</key>
	<false/>
	<key>ignoredSnapAreas</key>
	<integer>0</integer>
	<key>larger</key>
	<dict>
		<key>keyCode</key>
		<integer>116</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>lastThird</key>
	<dict/>
	<key>lastTwoThirds</key>
	<dict/>
	<key>lastVersion</key>
	<string>62</string>
	<key>launchOnLogin</key>
	<true/>
	<key>maximize</key>
	<dict>
		<key>keyCode</key>
		<integer>39</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>maximizeHeight</key>
	<dict/>
	<key>minimumWindowHeight</key>
	<real>0.0</real>
	<key>minimumWindowWidth</key>
	<real>0.0</real>
	<key>moveCursorAcrossDisplays</key>
	<integer>1</integer>
	<key>nextDisplay</key>
	<dict>
		<key>keyCode</key>
		<integer>125</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>notifiedOfProblemApps</key>
	<false/>
	<key>obtainWindowOnClick</key>
	<integer>0</integer>
	<key>previousDisplay</key>
	<dict/>
	<key>relaunchOpensMenu</key>
	<false/>
	<key>resizeOnDirectionalMove</key>
	<false/>
	<key>restore</key>
	<dict/>
	<key>screenEdgeGapBottom</key>
	<real>0.0</real>
	<key>screenEdgeGapLeft</key>
	<real>0.0</real>
	<key>screenEdgeGapRight</key>
	<real>0.0</real>
	<key>screenEdgeGapTop</key>
	<real>0.0</real>
	<key>showAllActionsInMenu</key>
	<integer>0</integer>
	<key>sizeOffset</key>
	<real>0.0</real>
	<key>smaller</key>
	<dict>
		<key>keyCode</key>
		<integer>121</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>snapEdgeMarginBottom</key>
	<real>5</real>
	<key>snapEdgeMarginLeft</key>
	<real>5</real>
	<key>snapEdgeMarginRight</key>
	<real>5</real>
	<key>snapEdgeMarginTop</key>
	<real>5</real>
	<key>snapModifiers</key>
	<integer>0</integer>
	<key>specifiedHeight</key>
	<real>1050</real>
	<key>specifiedWidth</key>
	<real>1680</real>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>todo</key>
	<integer>0</integer>
	<key>todoMode</key>
	<false/>
	<key>todoSidebarWidth</key>
	<real>400</real>
	<key>topHalf</key>
	<dict/>
	<key>topLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>27</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topRight</key>
	<dict>
		<key>keyCode</key>
		<integer>24</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>traverseSingleScreen</key>
	<integer>0</integer>
	<key>unsnapRestore</key>
	<integer>2</integer>
	<key>windowSnapping</key>
	<integer>2</integer>
</dict>
</plist>
