[credential]
	helper = store
[user]
	name = lkearn
	email = liam@sproutlabs.com.au
	signingkey = 0E9E696B1D411414
[alias]
	update = add -u
[add.interactive]
	useBuiltin = false
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[commit]
	gpgsign = true
	verbose = true
[diff "ansible-vault"]
	textconv = ansible-vault view
[core]
	excludesFile = ~/.gitignore
