[credential]
    helper = store
[user]
    name = lkearn
    email = liam@sproutlabs.com.au
[alias]
    update = add -u
[add.interactive]
    useBuiltin = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[commit]
    verbose = true
[diff "ansible-vault"]
	textconv = ansible-vault view
[core]
	excludesFile = ~/.gitignore
