# Don't look at these!
.ssh/*
.gnupg
.cache
.local
.config/alfred
.config/gcloud
.config/gnupg
.config/github-copilot
.config/fish/private_env.fish
.config/alfred

# Ignoring homedir files.
Desktop
Documents
Downloads
Health
intelephense
Library
Movies
Music
OrbStack
Pictures
Screenshots
Source

# Manually ignored
.config/fish/completions/nvm.fish
.config/fish/conf.d/nvm.fish
.config/fish/functions/_nvm_index_update.fish
.config/fish/functions/_nvm_list.fish
.config/fish/functions/_nvm_version_activate.fish
.config/fish/functions/_nvm_version_deactivate.fish
.config/fish/functions/nvm.fish
.config/fish/fish_variables
.config/lazygit/development.log
.config/lazygit/state.yml
.config/neofetch
.config/op
.config/qalculate/qalc.history
.config/wireshark/recent
.config/wireshark/recent_common
.config/wget/history
