[credential]
    helper = store
[user]
    name = lkearn
    email = liam@sproutlabs.com.au
[alias]
    update = add -u
    sync = !fish -c 'config checkout -p origin/$OTHER --'
[add.interactive]
    useBuiltin = false
[delta]
    navigate = true
    light = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default

