<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.limelight</string>
    <key>ServiceDescription</key>
    <string>Limelight Window Highlighter</string>
    <key>ProgramArguments</key>
    <array>             
        <string>/usr/local/bin/limelight</string>
	    <string>-V</string>
        <string>-c</string>
        <string>/Users/liamk/.limelightrc</string>
    </array>             
    <key>StandardOutPath</key>
    <string>/var/log/limelight.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/limelight.err.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
